@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'actiontext.css';

@layer base {
  body {
    background-image: url('/assets/alibackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
