<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Fish</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to fish_index_path, class: button_class(theme: "transparent") do %>
        All Fish
      <% end %>
      <%= link_to edit_fish_path(@fish), class: button_class(theme:"primary") do %>
        Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @fish.name %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @fish.price %></p>
      </li>
  </ul>
</div>

